
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<form action="/api/Account/ChangePassword" method="post">
    <input type="password" name="OldPassword" />
    <input type="password" name="NewPassword" />
    <input type="password" name="ConfirmNewPassword" />
    <button type="submit">Change Password</button>
</form>

