<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DvdLibraryEntities" connectionString="metadata=res://*/Models.Dvd.csdl|res://*/Models.Dvd.ssdl|res://*/Models.Dvd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DvdLibrary;persist security info=True;user id=DvdLibraryApp;password=testing123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>