
@{
    ViewBag.Title = "Add User";
}

<h2>Add User</h2>
<form action="/api/Admin/Users" method="post">
    Email:
    <input type="email" name="Email" required/>
    First Name:
    <input type="text" name="FirstName" required/>
    Last Name:
    <input type="text" name="LastName" required/>
    Role:
    <select name="Role" required>
        <option value="Admin">Admin</option>
        <option value="Sales">Sales</option>
        <option value="Disabled">Disabled</option>
    </select>
    Password:
    <input type="password" name="Password" required/>
    <button type="submit">Add User</button>
</form>

